table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  color: #c5c3c3;
  background-color: #222121;
}

tr:hover {
  background-color: #f1f1f1;
}

.invoices-button {
  padding: 8px 32px;
  background-color: #2e2e2e;
  color: #f2f2f2;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.invoices-button:hover {
  background-color: #434343;
}
