<table>
  <thead>
    <tr>
      @for (column of columns; track $index) {
        <th>{{ column }}</th>
      }
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cobra isso daquilo</td>
      <td></td>
      <td>R$3000</td>
      <td>20/03/2024</td>
      <td><mat-icon>edit</mat-icon></td>
      <td><mat-icon>delete</mat-icon></td>
    </tr>
    <tr>
      <td>Cobra isso daquilo</td>
      <td></td>
      <td>R$3000</td>
      <td>20/03/2024</td>
      <td><mat-icon>edit</mat-icon></td>
      <td><mat-icon>delete</mat-icon></td>
    </tr>
  </tbody>
</table>
